<html ng-app="myapp">
  <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/2.2.4/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="controllers/firebaseController.js"></script>
    <script type="text/javascript" src="controllers/playerController.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
    <script type="text/javascript" src="./js/app.js"></script>
    <script type="text/javascript" src="./timer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flipclock/0.7.8/flipclock.min.js"></script>
    <script type="text/javascript" src="controllers/leaderboardController.js"></script>
    <link rel="stylesheet" type="text/css" href="./css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Alex+Brush' rel='stylesheet' type='text/css'>
 <!--    <audio controls autoplay>
      <source src="./css/music.mp3" type="audio/mpeg">
    </audio>  -->

  </head>
  <div id="snow">

  <body ng-controller="firebaseController">

    <img id="image" src="http://www.christmas-clipart.com/free_christmas_clip_art_images/clip_art_illustration_of_a_cartoon_santa_clause_with_a_funny_face_0515-0911-2122-4128_SMU.jpg">

    <h1 id="title"> Drawing at Christmas...</h1>

    <div id="playersDiv" ng-controller="playerController">
        <ul>
        <li id="playerlist" ng-repeat="player in players"><em> {{player.player}} <br>
        </em></li>
        </ul>
        <div>



          <form ng-submit="addPlayers()" ng-if="players.length != 4" >
            <label for="player" ng-if="players.length == 0"> Player 1 enter your name</label>
            <label for="player" ng-if="players.length == 1"> Player 2 enter your name</label>
            <label for="player" ng-if="players.length == 2"> Player 3 enter your name</label>
            <label for="player" ng-if="players.length == 3"> Player 4 enter your name</label>
          </form>

          

          <h1 for="player" ng-if="players.length == 4"> Lets play</h1>
          <input type="text" name="player" ng-model="player" ng-keydown="addPlayers($event)" ng-if="players.length != 4">   
          </div>
          <div id="count">
                  <div id="countdown">90</div>
                  </div> 
        </div>

    <div id="chat">
      <div id="messagesDiv" class="container">
      <div ng-repeat="msg in messages"><em>{{msg.name}}</em>: {{msg.body}}</div>
      </div>
    </div>
  
    <div id="chat-name">
     <input type="text" id="name" ng-model="name" placeholder="Name">
      <input type="text" id="message" ng-model="msg" ng-keydown="addMessage($event)" placeholder="Message...">
    </div>


    <div id="canvas">
      <div class="l-demo-container">
        <canvas id="drawing-canvas" width="800" height="500"></canvas>
      </div>
    </div>
  <div id="options">
    <div id="colorholder"></div> 
    <button id="reset-board"> Clear </button>
    <button id="start-timer"> Start Timer </button>
    <button id="next"> Next Image </button>
  </div>

  </body>
  </div>
</html>

